<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Compoundexr">
      <%= assigns[:page_title] || "Compoundexr" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-gray-900 antialiased">
    <header class="bg-gray-800 border-b border-gray-700">
      <div class=" px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <div class="flex items-center gap-6">
            <a href="/" class="text-white font-semibold text-lg">
              Compoundexr
            </a>
            <%= if @current_user do %>
              <.link href={~p"/compound"} class="text-sm text-gray-300 hover:text-white">
                Calculator
              </.link>
              <.link href={~p"/assets"} class="text-sm text-gray-300 hover:text-white">
                Assets
              </.link>
            <% end %>
          </div>
          <div class="flex items-center gap-4 font-semibold leading-6 text-white">
            <%= if @current_user do %>
              <span class="text-sm text-gray-300"><%= @current_user.email %></span>
              <.link href={~p"/users/settings"} class="text-sm text-gray-300 hover:text-white">
                Settings
              </.link>
              <.link
                href={~p"/users/log_out"}
                method="delete"
                class="text-sm text-gray-300 hover:text-white"
              >
                Log out
              </.link>
            <% else %>
              <.link href={~p"/users/register"} class="text-sm text-gray-300 hover:text-white">
                Register
              </.link>
              <.link href={~p"/users/log_in"} class="text-sm text-gray-300 hover:text-white">
                Log in
              </.link>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
